.light-theme {
  --common-white: #FFFFFF;

  --gray-100-80: rgba(231, 231, 231, .8);
  --gray-100: #E7E7E7;
  --gray-500: #555555;
  --gray-900: #262626;

  --red-500: #E40D04;

  --yellow-500: #F9DD38;
}

body {
  background: var(--gray-100);
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  margin-left: 12.5rem;
  margin-right: 12.5rem;
}

header {  
  background: var(--common-white);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

header nav .brand {
  display: flex;
  align-items: end;
}

header nav .brand .icon {
  font-size: 4rem;
  color: var(--gray-900);
}

header nav .social {
  display: flex;
  gap: 1rem;
}

header nav .social div {
  width: 2rem;
  height: 2rem;
}

header nav .social .icon{
  font-size: 2rem;
  color: var(--gray-900);
}

section.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-color: var(--red-500);
  background: url('../images/pizza-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

section.hero h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--gray-100);
  text-shadow: 0 -64px 0 var(--gray-100-80), 0 64px 0 var(--gray-100-80);
  animation: float-left .4s ease-in forwards;
}

section.address {
  padding: 4rem 0;
  background: var(--common-white);
}

section.address .container {
  display: flex;
  justify-content: center;
}

section.address .container div {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

section.address h2,
section.address p,
section.address button,
section.address ul li {
  text-align: center;
  text-transform: uppercase;
  color: var(--gray-900);
}

section.address h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.2;
}

section.address p {
  margin-bottom: 1rem;
  font-weight: 700;
  text-decoration: underline;
}

section.address ul {
  margin-bottom: 1rem;
  list-style-type: none;
}

section.address ul li {
  line-height: 2rem;
}

section.address button {
  padding: .5rem 1rem;
  background-color: var(--red-500);
  border: 2px solid var(--red-500);
  border-radius: .25rem;
  font-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--gray-100);
  cursor: pointer;
  transition: all .15s ease-in;
}

section.address button:hover {
  background-color: var(--gray-900);
  border-color: var(--gray-900);
}

section.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section.contact .newsletter,
section.contact .goodbye {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35rem;
  text-transform: uppercase;
}

section.contact .newsletter {
  background-color: var(--yellow-500);
  color: var(--gray-900);
  text-align: center;
}

section.contact .newsletter div {
  padding: 2rem;
  border: .25rem solid var(--gray-900);
}

section.contact .newsletter p {
  margin-bottom: 1rem;
  font-weight: 700;
}

section.contact .newsletter a {
  color: var(--gray-900);
  text-decoration: none;
}

section.contact .newsletter a:hover {
  color: var(--gray-500);
  text-decoration: underline;
}

section.contact .goodbye {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 3rem;
  color: var(--gray-900);
}

@media screen and (max-width: 40rem) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  section.hero {
    height: 20rem;
  }

  section.contact {
    grid-template-columns: 1fr;
  }

  section.contact .newsletter,
  section.contact .goodbye {
    height: 20rem;
  }
}

@media screen and (min-width: 40rem) and (max-width: 60rem) {
  .container {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@keyframes float-left{
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}